.movies {
  li {
    position: relative;
    cursor: pointer;
  }
  li:hover {
    left: 0.1em;
  }
  display: flex;
  width: 100%;
  list-style-type: none;
  gap: 2rem;
  flex-flow: wrap;
}

* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  height: 100%;
}

h2 {
  color: #848484;
}

.grey-txt {
  color: #848484;
}

.div-detail {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.movie-summary {
  background-color: #1f1f1f;
  height: 50vh;
  margin: 2rem 1rem;
  line-height: 30px;
}
