.movies {
  li {
    position: relative;
    cursor: pointer;
  }
  li:hover {
    left: 0.1em;
  }
  display: flex;
  width: 100%;
  list-style-type: none;
  gap: 2rem;
  flex-flow: wrap;
}

* {
  color: white;
}

body {
  background-color: #1f1f1f;
  height: 100%;
}

.div-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
